#splide {
    background-image: url(./akan-oje.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: auto;
  }
  
  .splide {
    margin-bottom: 30px;
  }
  .splide_pinfo,
  .price {
    margin-top: 10px;
  }
  .splide_pinfo{
    margin-left: 5%;
  }
  .addbasket {
    cursor: pointer;
    margin-top: 10px;
    font-size: 15px;
    background-color: #e2fff6;
    padding: 6px;
    border-radius: 10px;
    border: 1px solid;
  }
  
  p.title {
    font-size: 40px;
    margin: 20px 0px 5px 16px;
  }
  
  .splide .splide {
    padding: 20px 0;
  }
  
  
  .splide .splide__slide img{
      display: block;
      width: 100%;
      border-radius: 8px;
      transition: transform 400ms;
      transform: scale(.9);
      transform-origin: center center;
  }
  .splide .splide__arrow.splide__arrow--prev svg path{
    fill: white;
  }
  
  .splide .splide__arrow.splide__arrow--next svg path{
    fill: white;
  }
  .splide .splide__arrow.splide__arrow--prev , .splide .splide__arrow.splide__arrow--next{
    background: #403c3d;
    opacity: 1;
  }
  .splide .splide__arrow.splide__arrow--prev{
    left: 3%;
  }
  .splide .splide__arrow.splide__arrow--next{
    right: 3%;
  }
  .splide {
    background-color: #fdedf2;
    padding-top: 10px;
    padding-bottom: 23px;
  }
  
  .slides-content-br{
    height: 1px;
    width: 90%;
    background: #dddddd;
    margin-left: 5%;
    margin-bottom: 1rem;
  }
  .slides-content-title{
    font-size: 12px;
    line-height: 14px;
    width: 92%;
    height: 42px;
    text-align: left;
    color: inherit;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .slides-content-price1{
    font-size: 14px;
    font-weight: 500;
    color: #b9b7b9;
  }
  .slides-content-price{
    font-size: 14px;
    font-weight: 700;
  }
  .color-container{
    display: flex;
  }
  .color-content{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.5s;
  }
  .color-content:hover{
    width: 22px;
    height: 22px;
    border: 1px solid darkred;
  }
  .color-container-main{
    display: flex;
    align-items: center;
    margin: 5px;
  }
  .color-count{
    margin-left: 10px;
    font-size: 12px;
  }
  .icon-content{
    right: 8%;
    bottom: 32%;
  }
  .camp{
      font-size: 12px;
      line-height: 14px;
      padding: 10px 15px;
      color: rgb(228 90 128);
  }
  @media (min-width: 768px) {
    .splide {
      padding-bottom: 2.5rem !important;
      padding-top: 2.5rem !important;
    }
  }
  
  @media (min-width: 1024px) {
    .splide {
      padding-left: 7.375%;
      padding-right: 7.375%;
    }
  }
  
  @media (min-width: 768px) {
    .splide {
      max-width: none;
      padding-left: 5%;
      padding-right: 5%;
    }
  }
  @media (max-width: 768px) {
    .splide__arrows{
      display: none;
    }
    #icon-250555{
      bottom: 32% !important;
    }
    .title{
      font-size: 25px !important;
    }
  
    #splide {
      background-size: contain;
    }
    .icon-content{
      bottom: 45%;
    }
  }
  @media (max-width: 390px) {
    .slides-img {
      width: 90%;
      margin: 0 auto;
      margin-bottom: 10px;
    }
    .icon-content{
      bottom: 45%;
    }
  }